.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
  }
  
  .navbar-item {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px; 
    font-size: 16px;
    color: #333; 
    transition: all 0.3s ease-in-out; 
    text-align: center;
  }
  
  .navbar-item:hover {
    background-color: #e2e6ea; 
    color: #000; 
  }
  
  .navbar-item.selected {
    background-color: #007bff;
    color: #fff; 
    box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.5);
    font-weight: bold; 
  }
  

.logo-nav{
    height: 30px;
    width: 30px;
    margin: 3px auto;
}

.logo-flex{
    display: flex;
    gap: 10px;
}